In [37]:
import pandas as pd
import numpy as np

In [38]:
_df =pd.read_excel("lead_ranking_data.xlsx")

In [39]:
_df["Is_mobileno_given"] = ~_df["Mobile"].isnull()

In [40]:
_df["Is_telephoneno_given"] = ~_df["Telephone"].isnull()

In [41]:
_df["DND_Count"]=_df[["donotemail", "donotfax", "donotphone"]].apply(lambda x: sum([1 if x["donotfax"] == True else 0, 1 if x["donotphone"] == True else 0, 1 if x["donotemail"] == True else 0]), axis=1)

In [42]:
_df["DND_Count"].value_counts()

0    149471
1      2676
2       285
Name: DND_Count, dtype: int64

In [43]:
_df["Is_pref_start_date_given"] = ~_df["po_prefered_start_date1"].isnull()

In [44]:
_selected_fields = ['LeadCategory',
'LeadSource',
'LeadSubCategory',
'Is_mobileno_given',
'Is_telephoneno_given',
'DND_Count',
'Is_pref_start_date_given',
'ProgramType__Program',
                    "Status"
]

In [45]:
for _col in _selected_fields:
    print(_col, _df[_col].dtype)

LeadCategory object
LeadSource object
LeadSubCategory object
Is_mobileno_given bool
Is_telephoneno_given bool
DND_Count int64
Is_pref_start_date_given bool
ProgramType__Program float64
Status object

In [46]:
_df = _df[_selected_fields]

In [13]:
_df.Status.value_counts()

Not-Enrolled    118035
Enrolled         34397
Name: Status, dtype: int64

In [14]:
_df.count()

LeadCategory                144046
LeadSource                  144057
LeadSubCategory             124798
Is_mobileno_given           152432
Is_telephoneno_given        152432
DND_Count                   152432
Is_pref_start_date_given    152432
ProgramType__Program        152432
Status                      152432
dtype: int64

In [15]:
_df[_df.LeadCategory.isna()]

,LeadCategory,LeadSource,LeadSubCategory,Is_mobileno_given,Is_telephoneno_given,DND_Count,Is_pref_start_date_given,ProgramType__Program,Status
10,NaN,NaN,NaN,False,True,0,False,9.3671e+08,Not-Enrolled
20,NaN,NaN,NaN,True,True,0,False,0,Not-Enrolled
34,NaN,NaN,NaN,True,True,0,False,1e+08,Enrolled
39,NaN,NaN,NaN,False,True,0,False,0,Enrolled
40,NaN,NaN,NaN,False,True,0,False,0,Enrolled
45,NaN,NaN,NaN,True,True,0,False,0,Enrolled
56,NaN,NaN,NaN,True,True,0,False,9.3671e+08,Enrolled
57,NaN,NaN,NaN,True,True,0,False,9.3671e+08,Enrolled
66,NaN,NaN,NaN,True,True,0,False,0,Not-Enrolled
67,NaN,NaN,NaN,True,True,0,False,0,Not-Enrolled
73,NaN,NaN,NaN,False,True,0,False,0,Enrolled
74,NaN,NaN,NaN,False,True,0,False,0,Enrolled
88,NaN,NaN,NaN,False,True,0,False,0,Enrolled
104,NaN,NaN,NaN,True,True,0,False,0,Not-Enrolled
107,NaN,NaN,NaN,True,True,0,False,0,Not-Enrolled
122,NaN,NaN,NaN,False,True,0,False,0,Not-Enrolled
123,NaN,NaN,NaN,False,True,0,False,0,Not-Enrolled
130,NaN,NaN,NaN,False,True,0,False,0,Not-Enrolled
149,NaN,NaN,NaN,False,True,0,False,0,Not-Enrolled
170,NaN,NaN,NaN,True,True,0,False,0,Not-Enrolled
209,NaN,NaN,NaN,True,True,0,False,0,Not-Enrolled
232,NaN,NaN,NaN,True,True,0,False,0,Not-Enrolled
233,NaN,NaN,NaN,True,True,0,False,0,Not-Enrolled
240,NaN,NaN,NaN,False,True,0,False,0,Not-Enrolled
243,NaN,NaN,NaN,True,True,0,False,0,Enrolled
257,NaN,NaN,NaN,False,True,0,False,0,Enrolled
258,NaN,NaN,NaN,False,True,0,False,0,Enrolled
260,NaN,NaN,NaN,True,True,0,False,0,Not-Enrolled
262,NaN,NaN,NaN,True,True,0,False,0,Not-Enrolled
267,NaN,NaN,NaN,False,True,0,False,0,Enrolled
...,...,...,...,...,...,...,...,...,...
147422,NaN,NaN,NaN,False,True,0,False,9.3671e+08,Not-Enrolled
147427,NaN,NaN,NaN,False,True,0,False,1e+08,Not-Enrolled
147428,NaN,NaN,NaN,False,True,0,False,1e+08,Not-Enrolled
147429,NaN,NaN,NaN,False,True,0,False,1e+08,Not-Enrolled
147432,NaN,NaN,NaN,False,True,0,False,9.3671e+08,Not-Enrolled
147433,NaN,NaN,NaN,False,True,0,False,9.3671e+08,Not-Enrolled
147434,NaN,NaN,NaN,False,True,0,False,9.3671e+08,Not-Enrolled
147435,NaN,NaN,NaN,False,True,0,False,9.3671e+08,Not-Enrolled
147773,NaN,NaN,NaN,False,True,0,False,9.3671e+08,Not-Enrolled
148693,NaN,NaN,NaN,False,True,0,False,9.3671e+08,Not-Enrolled
149523,NaN,NaN,NaN,False,True,0,False,9.3671e+08,Not-Enrolled
150225,NaN,NaN,NaN,False,True,0,True,9.3671e+08,Not-Enrolled
150579,NaN,NaN,NaN,False,True,0,False,9.3671e+08,Enrolled
150754,NaN,NaN,NaN,False,True,0,True,1e+08,Enrolled
150886,NaN,NaN,NaN,False,True,0,True,9.3671e+08,Not-Enrolled
150933,NaN,NaN,NaN,False,True,0,False,blank,Not-Enrolled
151128,NaN,NaN,NaN,False,True,0,True,9.3671e+08,Enrolled
151158,NaN,NaN,NaN,False,True,0,False,9.3671e+08,Not-Enrolled
151375,NaN,NaN,NaN,False,True,0,True,9.3671e+08,Enrolled
151477,NaN,NaN,NaN,False,True,0,True,9.3671e+08,Enrolled
151623,NaN,NaN,NaN,False,True,0,True,9.3671e+08,Enrolled
151697,NaN,NaN,NaN,False,True,0,True,9.3671e+08,Enrolled
151806,NaN,NaN,NaN,True,True,0,True,9.3671e+08,Enrolled
151834,NaN,NaN,NaN,False,True,0,True,9.3671e+08,Enrolled
152296,NaN,NaN,NaN,True,True,0,True,9.3671e+08,Not-Enrolled
152298,NaN,NaN,NaN,False,True,0,True,9.3671e+08,Enrolled
152369,NaN,NaN,NaN,True,True,0,False,9.3671e+08,Not-Enrolled
152401,NaN,NaN,NaN,False,True,0,True,9.3671e+08,Enrolled
152411,NaN,NaN,NaN,True,True,0,True,9.3671e+08,Not-Enrolled
152415,NaN,NaN,NaN,False,True,0,False,9.3671e+08,Not-Enrolled

In [16]:
_df['ProgramType__Program'].value_counts()

0.0            61546
936710005.0    41229
blank          17204
936710003.0    17178
100000001.0     8742
936710002.0     1740
936710007.0     1624
100000000.0     1582
936710001.0     1525
100000002.0       62
Name: ProgramType__Program, dtype: int64

In [47]:
_df.dtypes

LeadCategory                 object
LeadSource                   object
LeadSubCategory              object
Is_mobileno_given              bool
Is_telephoneno_given           bool
DND_Count                     int64
Is_pref_start_date_given       bool
ProgramType__Program        float64
Status                       object
dtype: object

In [49]:
df = pd.DataFrame(np.random.randn(100, 2))

In [12]: msk = np.random.rand(len(df)) < 0.8

In [13]: train = df[msk]

In [14]: test = df[~msk]

In [155]:
for i in ['LeadCategory','LeadSource','LeadSubCategory']:
    _df[i]=_df[i].fillna('Nan')

In [156]:
_df.isna().sum()

LeadCategory                    0
LeadSource                      0
LeadSubCategory                 0
Is_mobileno_given               0
Is_telephoneno_given            0
DND_Count                       0
Is_pref_start_date_given        0
ProgramType__Program        17204
Status                          0
dtype: int64

In [157]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df = _df.apply(le.fit_transform)

In [24]:
# Load scikit's random forest classifier library
from sklearn.ensemble import RandomForestClassifier
np.random.seed(7)

In [25]:
df.head()

,LeadCategory,LeadSource,LeadSubCategory,Is_mobileno_given,Is_telephoneno_given,DND_Count,Is_pref_start_date_given,ProgramType__Program,Status
0,9,13,20,0,0,0,0,6,1
1,9,13,26,0,0,0,0,0,1
2,9,13,20,0,0,0,0,6,0
3,9,13,2,0,0,0,0,0,0
4,9,13,2,1,0,0,0,0,1

In [26]:
df.describe()

,LeadCategory,LeadSource,LeadSubCategory,Is_mobileno_given,Is_telephoneno_given,DND_Count,Is_pref_start_date_given,ProgramType__Program,Status
count,152432.000000,152432.000000,152432.000000,152432.000000,152432.0,152432.000000,152432.000000,152432.000000,152432.000000
mean,6.018448,8.380570,13.479132,0.332739,0.0,0.021295,0.173238,2.878103,0.774345
std,3.089913,4.494063,7.091218,0.471195,0.0,0.156783,0.378454,3.224520,0.418014
min,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,2.000000,3.000000,4.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.000000
50%,8.000000,10.000000,17.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.000000
75%,9.000000,13.000000,20.000000,1.000000,0.0,0.000000,0.000000,7.000000,1.000000
max,9.000000,20.000000,26.000000,1.000000,0.0,2.000000,1.000000,8.000000,1.000000

# Traditional Way oF RF

In [27]:
from sklearn.model_selection import train_test_split
feature_names = df.columns[:-1] 
target_names = df.columns[-1:]
X_train, X_test, y_train, y_test = train_test_split(df.ix[:,0:-1], df.ix[:,-1:], test_size=0.20, random_state=42)

/home/vivekviswambaran/.conda/envs/python35/lib/python3.5/site-packages/ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

In [28]:
clf = RandomForestClassifier(max_depth=2, n_estimators=100, random_state=13)

In [29]:
clf.fit(X_train, y_train)

/home/vivekviswambaran/.conda/envs/python35/lib/python3.5/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=13, verbose=0, warm_start=False)

In [30]:
feature_imp = pd.Series(clf.feature_importances_,index=feature_names).sort_values(ascending=False)
feature_imp

Is_pref_start_date_given    0.329940
LeadSubCategory             0.278649
LeadSource                  0.182091
LeadCategory                0.143275
ProgramType__Program        0.048913
Is_mobileno_given           0.016611
DND_Count                   0.000521
Is_telephoneno_given        0.000000
dtype: float64

In [31]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
# prediction on test set
y_pred=clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_pred, y_test))

Accuracy: 0.8003411290058058

# Using h2o

In [64]:
import h2o
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321. connected.
Warning: Your H2O cluster version is too old (6 months and 6 days)! Please download and install the latest version from http://h2o.ai/download/

--------------------------  ----------------------------------------
H2O cluster uptime:         2 hours 21 mins
H2O cluster timezone:       Asia/Kolkata
H2O data parsing timezone:  UTC
H2O cluster version:        3.18.0.2
H2O cluster version age:    6 months and 6 days !!!
H2O cluster name:           H2O_from_python_vivekviswambaran_raozys
H2O cluster total nodes:    1
H2O cluster free memory:    892 Mb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         XGBoost, Algos, AutoML, Core V3, Core V4
Python version:             3.5.5 final
--------------------------  ----------------------------------------

In [65]:
# Load data into H2O
df = h2o.import_file('LeadRanking_h20.csv')

Parse progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%

In [66]:
df.describe()

Rows:152432
Cols:10

,C1,LeadCategory,LeadSource,LeadSubCategory,Is_mobileno_given,Is_telephoneno_given,DND_Count,Is_pref_start_date_given,ProgramType__Program,Status
type,int,enum,enum,enum,enum,enum,int,enum,int,enum
mins,0.0,,,,,,0.0,,0.0,
mean,76215.5,,,,,,0.02129474126167734,,446125036.55247426,
maxs,152431.0,,,,,,2.0,,936710007.0,
sigma,44003.472453887094,,,,,,0.15678268024271128,,460909505.02611226,
zeros,1,,,,,,149471,,61546,
missing,0,8386,8375,27634,0,0,0,0,17204,0
0,0.0,Website,Website,Referral,False,True,0.0,False,936710003.0,Not-Enrolled
1,1.0,Website,Website,Webinar,False,True,0.0,False,nan,Not-Enrolled
2,2.0,Website,Website,Referral,False,True,0.0,False,936710003.0,Enrolled
3,3.0,Website,Website,Application,False,True,0.0,False,0.0,Enrolled
4,4.0,Website,Website,Application,True,True,0.0,False,0.0,Not-Enrolled
5,5.0,Website,Website,Request,True,True,0.0,False,0.0,Not-Enrolled
6,6.0,Other,Other,,True,True,0.0,False,936710003.0,Not-Enrolled
7,7.0,Website,Website,Request,True,True,0.0,False,0.0,Not-Enrolled
8,8.0,Website,Website,Request,False,True,0.0,False,0.0,Not-Enrolled
9,9.0,Website,Website,Request,False,True,0.0,False,0.0,Not-Enrolled

In [120]:
slice = int(len(df)*0.7)
train = df[0:slice,:]
test = df[slice:,:]

y='Status'
x = df.columns
x = x.remove(y)

In [161]:
train.head(5)

C1,LeadCategory,LeadSource,LeadSubCategory,Is_mobileno_given,Is_telephoneno_given,DND_Count,Is_pref_start_date_given,ProgramType__Program,Status
0,Website,Website,Referral,False,True,0,False,9.3671e+08,Not-Enrolled
1,Website,Website,Webinar,False,True,0,False,nan,Not-Enrolled
2,Website,Website,Referral,False,True,0,False,9.3671e+08,Enrolled
3,Website,Website,Application,False,True,0,False,0,Enrolled
4,Website,Website,Application,True,True,0,False,0,Not-Enrolled

In [121]:
aml = H2OAutoML(max_models = 10, seed = 1)
aml.train(x=x, y =y, training_frame=train, leaderboard_frame = test)

AutoML progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%
Parse progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%

In [122]:
lb = aml.leaderboard

In [123]:
lb.head(rows=lb.nrows)

model_id,auc,logloss
StackedEnsemble_BestOfFamily_0_AutoML_20180912_144150,0.817565,0.909459
GBM_grid_0_AutoML_20180912_144150_model_5,0.816418,0.527137
DRF_0_AutoML_20180912_144150,0.812786,0.676975
StackedEnsemble_AllModels_0_AutoML_20180912_144150,0.812376,0.90904
GLM_grid_0_AutoML_20180912_144150_model_0,0.806391,0.965682
XRT_0_AutoML_20180912_144150,0.783002,0.739906
GBM_grid_0_AutoML_20180912_144150_model_3,0.770165,0.865542
GBM_grid_0_AutoML_20180912_144150_model_1,0.768841,0.887363
GBM_grid_0_AutoML_20180912_144150_model_2,0.768121,0.920505
GBM_grid_0_AutoML_20180912_144150_model_4,0.766247,0.794727
DeepLearning_0_AutoML_20180912_144150,0.758733,1.1471
GBM_grid_0_AutoML_20180912_144150_model_0,0.732376,1.05501

In [129]:
print('Generate predictions...')
train.drop(['Status'])
y_pred = aml.leader.predict(train)
# preds = preds.as_data_frame()
# preds
y_pred

Generate predictions...
stackedensemble prediction progress: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100%

predict,Enrolled,Not-Enrolled
Not-Enrolled,0.162739,0.837261
Not-Enrolled,0.0536728,0.946327
Not-Enrolled,0.162739,0.837261
Not-Enrolled,0.324353,0.675647
Not-Enrolled,0.302459,0.697541
Not-Enrolled,0.155319,0.844681
Not-Enrolled,0.0568364,0.943164
Not-Enrolled,0.155319,0.844681
Not-Enrolled,0.109259,0.890741
Not-Enrolled,0.109259,0.890741

In [145]:
pd = y_pred.as_data_frame()
pd_train = train.as_data_frame()

In [146]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
# prediction on test set
# y_pred=clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(pd['predict'].tolist(), pd_train['Status'].tolist()))

Accuracy: 0.8837510074787727